screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

animations {
    off
}

environment {
    XCURSOR_THEME "phinger-cursors-light"
    XCURSOR_SIZE "18"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

cursor {
    xcursor-theme "phinger-cursors-light"
    xcursor-size 18
}
