spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "gnome-keyring-daemon --start --components=secrets,ssh,pkcs11"
