spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1" // Polkit
spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets,ssh,pkcs11"
