input {
    keyboard {
        xkb {
            layout "us"
            options "caps:escape,compose:ralt"
        }
        numlock
	repeat-delay 220
	repeat-rate 45
    }
    mouse {
        accel-profile "flat"
    }
    focus-follows-mouse
}

output "DP-3" {
    mode "1920x1080@239.964"
    hot-corners {
        off
    }
    variable-refresh-rate on-demand=true
}

layout {
    gaps 8

    border {
        off
    }

    focus-ring {
        width 4
        active-color "#268bd2"
        inactive-color "#073642"
    }

    background-color "#002b36"
}

workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"
workspace "9"

spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "gnome-keyring-daemon --start --components=secrets,ssh,pkcs11"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    off
}

window-rule {
    match app-id=r#"chromium$"# title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match app-id=r#"steam$"#
    exclude title="^Steam$"
    open-floating true
}
window-rule {
    match app-id=r#"^chromium$"#
    open-maximized true
}
window-rule {
    match app-id=r#"^com.mitchellh.ghostty$"#
    open-maximized true
    open-on-workspace "1"
}
window-rule {
    match app-id=r#"steam$"#
    open-on-workspace "4"
}
window-rule {
    match app-id=r#"^chrome-app\.slack\.com"#
    open-on-workspace "5"
    open-maximized true
}
window-rule {
    match app-id=r#"^chrome-music\.youtube\.com"#
    open-on-workspace "6"
    open-maximized true
}
window-rule {
    match app-id=r#"^Bitwarden$"#
    open-maximized true
    open-on-workspace "8"
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

binds {
    Mod+B { spawn-sh "chromium --profile-directory='Profile 1'"; }
    Mod+Shift+B { spawn-sh "chromium --profile-directory='Default'"; }
    Mod+C { spawn-sh "chromium --profile-directory='Default' --app='https://app.slack.com/client/T04TW5V4274/C04TFKU3Q0P'"; }
    Mod+M { spawn-sh "chromium --profile-directory='Profile 1' --app='https://music.youtube.com'"; }
    Mod+Slash { spawn-sh "gtk-launch bitwarden.desktop"; }

    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn-sh "ghostty"; }
    Mod+D hotkey-overlay-title="Open App Launcher: noctalia launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Ctrl+Shift+S { screenshot; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}
